@{
    ViewData["Title"] = "New Home Page";
}

<div class="text-center">
    <h1 class="display-4">New One</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <ul>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="New" asp-action="ShowText">Respond with Text</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="New" asp-action="ShowJSON">Respond with JSON</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="New" asp-action="ShowHTML">Respond with HTML</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="New" asp-action="NewView">Respond with View</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="New" asp-action="CalculateOdd">Calculating the odd numbers</a></li>

    </ul>
</div>